.forgot-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #ff9966, #95d564);
}

.forgot-card {
  width: 380px;
  background: #fff;
  padding: 30px 35px;
  border-radius: 12px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.25);
  text-align: center;
}

.forgot-card h2 {
  margin-bottom: 8px;
}

.forgot-card p {
  margin-bottom: 18px;
  color: #555;
  font-size: 14px;
}

.forgot-card input {
  width: 100%;
  padding: 12px 14px;
  margin-bottom: 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 15px;
}

/* Password Box */
.password-box {
  position: relative;
}

.password-box input {
  padding-right: 45px;
}

.password-box span {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #555;
}

/* Button */
.forgot-card button {
  width: 100%;
  padding: 12px;
  margin-top: 8px;
  background: #ff5e62;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

.forgot-card button:hover {
  background: #e14b4f;
}

/* Error */
.error-text {
  color: red;
  font-size: 14px;
  margin-bottom: 8px;
}

/* Back Login */
.back-login {
  margin-top: 14px;
  font-size: 14px;
}

.back-login span {
  color: #835050;
  cursor: pointer;
}
.method-select {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 15px;
  font-size: 14px;
}

.method-select input {
  margin-right: 6px;
}
.method-select {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 15px;
}

.error-text {
  color: red;
  font-size: 14px;
  margin-bottom: 8px;
}
